body, html{
    height: 100%;
    margin: 0;
}

.bg{
    /* margin: 0;
    padding: 0; */
    height: 100%;
    background-image: linear-gradient(to bottom right, #5700ff, #800065);
    /* background-color: #f00 */

}
.circular-border{
    border-radius: 2rem;
}
.task{
    font-family: 'Comfortaa', cursive;
    color: black;
}
.display-2{
    font-family: 'Luckiest Guy', cursive;
    color: #fff
}
